<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>My new Toy🐿️</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/list">☔Board☂️</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/signup">SignUp</a></li>
                <li class="nav-item"><a th:if="${session.isEmpty()}" class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a th:if="${not session.isEmpty()}" class="nav-link" href="/logout">Logout</a></li>
                <li class="nav-item"><a th:if="${not session.isEmpty()}" class="nav-link" href="/myPage">my page</a></li>
                <li class="nav-item">
                    <span class="nav-link" th:if="${not session.isEmpty() and session.id != null and session.socialUser == null and session.id != null}" th:text="${session.id +'님😊'}"></span>
                    <span class="nav-link" th:if="${not session.isEmpty() and session.socialUser != null and session.socialUser.name != null}" th:text="${session.socialUser.name + '님😊'}"></span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page content-->
<main class="mb-4">
    <form role="form" action="/read" method="post">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <!-- <div class="col-md-10 col-lg-8 col-xl-7"> -->
                <div class="container List-container">
                    <div class="mt-3">
                        <table class="table table-bordered text-center table-hover">
                            <tbody>
                            <tr>
                                <th scope="col" colspan="4">제목</th>
                                <td colspan="4" style="font-size:13px" th:text="${board.title}"></td>
                            </tr>
                            <tr>
                                <th scope="col" colspan="4">수정일</th>
                                <td colspan="4" style="font-size:13px" th:text="${board.modifyTime}"></td>
                            </tr>
                            <tr>
                                <th scope="row">조회</th>
                                <td th:text="${board.hit}"></td>
                                <th scope="row">좋아요</th>
                                <td th:text="${board.likeCount}"></td>
                                <th scope="row">작성자</th>
                                <td colspan="2" th:text="${board.writerName}"></td>
                            </tr>
                            <tr>
                                <th scope="row" style="height:150px;font-size:13px;" align="center" valign="middle">내용</th>
                                <td align="center" valign="middle" colspan="8" th:text="${board.content}"></td>
                            </tr>
                            <tr>
                                <th th:if="${board.fileName != null}">첨부파일</th>
                                <td align="center" valign="middle" colspan="8">
                                    <a th:href="'/download/'+${board.no}">
                                        <img th:if="${board.fileName!=null}" src="/img/file.png">
                                        <span th:text="${board.fileName}"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div style="text-align: center;">
        <a th:if="${session.id == board.writerName or (session.socialUser != null and session.socialUser.name == board.writerName)}" class="btn btn-secondary btn-sm text-white" type="button" th:href="'/update/post/'+${board.no}">수정</a>
        <a class="btn btn-secondary btn-sm text-white" type="button" href="/list">목록</a>
        <a th:if="${session.id == board.writerName or (session.socialUser != null and session.socialUser.name == board.writerName)}" class="btn btn-secondary btn-sm text-white" type="button" th:href="'/deletePost/'+${board.no}">삭제</a>
        <a th:if="${session != null and not session.isEmpty()}"
           class="btn btn-secondary btn-sm text-white"
           id="like-button"
           type="button"
           th:data-boardno="${board.no}"
           th:data-writerno="${session.no}"
           th:data-liked="${like}"
           onclick="likeheart(this)">
            <span th:text="${like ? '🖤' : '🩷'}"></span>
        </a>

        <p>나의 좋아요: <span th:text="${like}"></span></p>
        <!-- 취소 버튼 -->
    </div>
    <!-- Comments list -->
    <div class="card my-4">
        <h5 class="card-header">Comment</h5>
        <div class="card-body">
            <div class="form-group">
                <table class="table">
                    <tr th:each="comment : ${comment}">
                        <td>
                            <div style="display: flex; justify-content: space-between;">
                                <span style="font-weight:bold" th:text="${comment.writerName}"></span>
                                <span style="font-weight:initial;" th:text="${comment.modifyTime}"></span>
                            </div>
                            <div class="card-body">
                                <span class="comment-content" th:text="${comment.content}"></span>
                            </div>
                            <div style="text-align: right;">
                                <a th:if="${session.id == comment.writerName or (session.socialUser != null and session.socialUser.name == comment.writerName)}" type="button" class="btn btn-sm" th:data-writer-name="${comment.writerName}" th:data-content="${comment.content}" th:data-no="${comment.no}" th:data-boardno="${comment.boardNo}" onclick="openEditModal(this)">수정</a>
                                <a th:if="${session.id == comment.writerName or (session.socialUser != null and session.socialUser.name == comment.writerName)}" type="button" class="btn btn-sm" th:href="'/deleteComment/'+${comment.no}">삭제</a>
                                <a th:if="${not session.isEmpty()}">
                                    <a th:if="${not session.isEmpty() and session.id != null and session.socialUser == null and session.id != null}" type="button" class="btn btn-sm comment-button" href="javascript:void(0);"
                                       th:attr="data-comment-no=${comment.no}, data-board-no=${board.no}, data-session-id=${session.id}, data-session-no=${session.no}">
                                        댓글달기
                                    </a>
                                    <a th:if="${not session.isEmpty() and session.socialUser != null and session.socialUser.name != null}" type="button" class="btn btn-sm comment-button" href="javascript:void(0);"
                                       th:attr="data-comment-no=${comment.no}, data-board-no=${board.no}, data-session-id=${session.socialUser.name}">
                                       댓글달기
                                    </a>
                            </div>
                            <div th:if="${comment.children}">
                                <h6 class="card-subtitle my-2 text-muted"></h6>
                                <div th:each="child : ${comment.children}" class="child-comment card my-2">
                                    <h6 class="card-header"  style="display:  flex; padding: 5px; justify-content: space-between;">
                                        <span style="font-weight:bold" th:text="'Reply: ' + ${child.writerName}"></span>
                                        <span style="font-weight:initial;" th:text="${child.modifyTime}"></span>
                                    </h6>
                                    <div class="card-body">
                                        <p class="card-text" th:text="${child.content}"></p>
                                        </div>
                                        <div style="text-align: right;">
                                            <a th:if="${session.id == comment.writerName or (session.socialUser != null and session.socialUser.name == comment.writerName)}" type="button" class="btn btn-sm" th:data-writer-name="${child.writerName}" th:data-content="${child.content}" th:data-no="${child.no}" th:data-boardno="${child.boardNo}" onclick="openEditModal(this)">수정</a>
                                            <a th:if="${session.id == comment.writerName or (session.socialUser != null and session.socialUser.name == comment.writerName)}" type="button" class="btn btn-sm" th:href="'/deleteComment/'+${child.no}">삭제</a>
                                            <a th:if="${not session.isEmpty() and session.id != null and session.socialUser == null and session.id != null}" type="button" class="btn btn-sm comment-button" href="javascript:void(0);"
                                               th:attr="data-comment-no=${child.no}, data-board-no=${board.no}, data-session-id=${session.id}, data-session-no=${session.no}">
                                                댓글달기
                                            </a>
                                            <a th:if="${not session.isEmpty() and session.socialUser != null and session.socialUser.name != null}" type="button" class="btn btn-sm comment-button" href="javascript:void(0);"
                                               th:attr="data-comment-no=${child.no}, data-board-no=${board.no}, data-session-id=${session.socialUser.name}">
                                                댓글달기
                                            </a>
                                        </div>
                                        <div th:each="childComment : ${child.children}" class="child-comment card my-2 ml-3">
                                            <h6 class="card-header"  style="display: flex; justify-content: space-between;">
                                                <span style="font-weight:bold" th:text="'🎃Reply: ' + ${childComment.writerName}"></span>
                                                <span style="font-weight:initial;" th:text="${childComment.modifyTime}"></span>
                                            </h6>
                                            <div class="card-body" >
                                                <p class="card-text" th:text="${childComment.content}"></p>
                                                <div style="text-align: right;">
                                                    <a th:if="${session.id == comment.writerName or (session.socialUser != null and session.socialUser.name == comment.writerName)}" type="button" class="btn btn-sm" th:data-writer-name="${childComment.writerName}" th:data-content="${childComment.content}" th:data-no="${childComment.no}" th:data-boardno="${childComment.boardNo}" onclick="openEditModal(this)">수정</a>
                                                    <a th:if="${session.id == comment.writerName or (session.socialUser != null and session.socialUser.name == comment.writerName)}" type="button" class="btn btn-sm" th:href="'/deleteComment/'+${childComment.no}">삭제</a>
                                                    <a th:if="${not session.isEmpty()}">
                                                        <a th:if="${not session.isEmpty() and session.id != null and session.socialUser == null and session.id != null}" type="button" class="btn btn-sm comment-button" href="javascript:void(0);"
                                                           th:attr="data-comment-no=${childComment.no}, data-board-no=${board.no}, data-session-id=${session.id}, data-session-no=${session.no}">댓글달기</a>
                                                        <a th:if="${not session.isEmpty() and session.socialUser != null and session.socialUser.name != null}"  type="button" class="btn btn-sm comment-button" href="javascript:void(0);"
                                                           th:attr="data-comment-no=${childComment.no}, data-board-no=${board.no}, data-session-no=${session.no}, data-session-id=${session.socialUser.name}">댓글달기</a>
                                                    </a>
                                                </div>
                                        </div>
                                    </div>

                                </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card my-4">
        <div id="c">
            <div th:if="${session.isEmpty()}">
                Please login first.😨
            </div>
            <div th:if="${not session.isEmpty()}" class="row">
                <h5 class="card-header">Comment:</h5>
                <div class="card-body">
                    <form name="newComment" action="/comment" method="post">
                        <div class="form-group">
                            <input type="hidden" name="boardNo" th:value="${board.no}">
                            <input type="hidden" name="writerNo" id="writerNo" th:value="${session.no}"/>
                            <input type="hidden" name="writerName" th:if="${not session.isEmpty() and session.id != null and session.socialUser == null and session.id != null}" id="writerName" th:value="${session.id}"/>
                            <input type="hidden" name="writerName" th:if="${not session.isEmpty() and session.socialUser != null and session.socialUser.name != null}" id="writerName" th:value="${session.socialUser.name}"/>
                            <textarea id="content" name="content" class="form-control" rows="3"></textarea>
                        </div>
                        <div style="text-align: right;">
                            <button type="submit" class="btn btn-secondary btn-sm text-white">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ModalEdit form -->
    <div class="modal" id="editCommentModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="editCommentForm" method="post" th:action="@{/saveComment}" th:object="${comment}">
                        <input type="hidden" id="modalboardno" name="bono">
                        <input type="hidden" id="modalCommentNo" name="no">
                        <div class="form-group">
                            <label for="writerName">Writer</label>
                            <input class="form-control" id="modalwriter_name" name="writerName"  readonly>
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea class="form-control" id="modalcontent" name="content"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-primary" onclick="saveComment()">저장</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Comments form -->
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>

<script>
    $(document).on('click', '.comment-button', function() {
        // 클릭된 버튼에서 필요한 데이터를 가져옴
        var commentNo = $(this).data('comment-no');
        var boardNo = $(this).data('board-no');
        var sessionId = $(this).data('session-id');
        var sessionNo = $(this).data('session-no');
        console.log(commentNo,boardNo,sessionId,sessionNo);
        // 새로운 댓글 입력 폼을 생성
        var newCommentForm = document.createElement('div');
        newCommentForm.innerHTML = `
        <h5 class="card-header">Reply:</h5>
        <div class="card-body">
            <form name="newComment" action="/comment" method="post">
                <div class="form-group">
                    <input type="hidden" name="boardNo" id="new-comment-boardNo" value="${boardNo}">
                     <input type="hidden" name="writerName" id="new-comment-writerName" value="${sessionId}">
                      <input type="hidden" name="parentNo" id="new-comment-parentNo" value="${commentNo}">
                      <textarea id="new-comment-content" name="content" class="form-control" rows="3"></textarea>
                </div>
                <div style="text-align: right;">
                    <button type="submit" class="btn btn-secondary btn-sm text-white">Submit</button>
                </div>
            </form>
        </div>
    `;
        $('#new-comment-boardNo').val(boardNo);
        $('#new-comment-sessionNo').val(sessionNo);
        $('#new-comment-commentNo').val(commentNo);
        $('#new-comment-sessionId').val(sessionId);
        // 댓글 입력 폼을 해당 댓글 아래에 추가
        var commentElement = $(this).closest('td');
        commentElement.append(newCommentForm)

        $(document).on('submit', 'form[name="newComment"]', function(event) {
            event.preventDefault(); // 기본 폼 제출 동작 막기

            var formData = $(this).serialize();
            $.post("/comment", formData, function(response) {
                console.log(response);
            });
        });
    });

    function openEditModal(button) {
        var writername = button.getAttribute('data-writer-name');
        var contentt = button.getAttribute('data-content');
        var no = button.getAttribute('data-no');
        var boardno = button.getAttribute('data-boardno')
        $('#modalwriter_name').val(writername);
        $('#modalcontent').val(contentt);
        $('#modalCommentNo').val(no);
        $('#modalboardno').val(boardno);
        $('#editCommentModal').modal('show');
    }

    function saveComment() {
        var modalCommentNo = $('#modalCommentNo').val();
        var modalboardno = $('#modalboardno').val();
        var updatedContent = $('#modalcontent').val();

        // AJAX 요청 실행
        $.ajax({
            url: '/saveComment',
            type: 'POST',
            data: {
                no: modalCommentNo,
                board_no: modalboardno,
                content: updatedContent
            },
            success: function(response) {
                location.reload();
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    function likeheart(button) {
        var like = $(button).data('liked');
        console.log(like);
        var no = $(button).data('boardno');
        console.log(no+ "나는 boardNo야");
        var id = $(button).data('writerno');
        console.log(id+"나는 writerNo야");
        var heartIcon = document.getElementById('heart-icon');

        if (like > 0) {
            console.log(like + "좋아요 누름");
            console.log("좋아요 요청 데이터:", { no, id });
            $.ajax({
                url: '/' + no + '/unlike',
                type: 'POST',
                data: {
                    no: no,
                    id: id
                },
                success: function () {
                    button.innerHTML = '🩷'; // 좋아요 취소 시 하트 변경
                    $(button).data('liked', 0); // 상태 변경
                },
                error: function () {
                    console.log("좋아요 취소 실패");
                }
            });
        } else {
            console.log(like + "좋아요 안누름");

            $.ajax({
                url: '/' + no + '/like',
                type: 'POST',
                data: {
                    no: no,
                    id: id
                },
                success: function () {
                    button.innerHTML = '🖤'; // 좋아요 누를 시 하트 변경
                    $(button).data('liked', 1); // 상태 변경
                },

                error: function () {
                    console.log("좋아요 추가 실패");
                }
            });
        }
    }

</script>

</body>
</html>
