<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>My new Toy🐿️</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">☔☂️</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="./loginhome">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="./signup">SignUp</a></li>
        <li class="nav-item"><a class="nav-link" href="./login">Logout</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Weather</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Board</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="./write">Write</a></li>
            <li><a class="dropdown-item" href="./list">List</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">my page</a></li>
          </ul>
          <li class="nav-item"><span class="nav-link" id ="userId">님😀</span></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Page content-->
<div class="container">
  <div class="text-center mt-5">
    <h1>나중에 수정해야지 수정하자 수정해!!😊</h1>
    <p class="lead">This is My new Toy Project. Is it raining today?☔☔</p>
  </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>
</body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var userIdElement = document.getElementById("userId");
    var userIdCookie = document.cookie.replace(/(?:(?:^|.*;\s*)userId\s*=\s*([^;]*).*$)|^.*$/, "$1");
    userIdElement.textContent = userIdCookie+"님😊";
  });
</script>
